{% assign repo_url = include.repository | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

{% assign metadata = site.data.repo_metadata[include.repository] %}

<a href="{{ metadata.html_url }}" class="repo-card">

  <h4>
    <span class="repo-title-link">
      <img
        src="{{ '/assets/img/repo-16.svg' | relative_url }}"
        alt=""
        class="repo-icon"
      >
      {{ repo_url[1] }}
    </span>
  </h4>

  {% if metadata.description %}
    <p class="repo-description">
      {{ metadata.description }}
    </p>
  {% endif %}

  <div class="repo-meta">

    {% if metadata.language %}
      <span class="repo-language">
        <span class="language-dot language-{{ metadata.language | slugify }}"></span>
        {{ metadata.language }}
      </span>
    {% endif %}

    <span class="repo-stat">
      <img
        src="{{ '/assets/img/star-16.svg' | relative_url }}"
        alt=""
        class="repo-meta-icon"
      >
      {{ metadata.stars }}
    </span>

    <span class="repo-stat">
      <img
        src="{{ '/assets/img/repo-forked-16.svg' | relative_url }}"
        alt=""
        class="repo-meta-icon"
      >
      {{ metadata.forks }}
    </span>

  </div>

</a>