{% assign repo_url = include.repository | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

{% assign lang = site.lang | split: '-' | first %}

{% case lang %}
  {% when 'pt' %}
    {% assign lang = site.lang %}

  {% when 'zh' %}
    {% assign lang_last = site.lang | split: '-' | last %}
    {% case lang_last %}
      {% when 'cn', 'sg', 'my', 'hans' %}
        {% assign lang = 'cn' %}
      {% when 'tw', 'hk', 'mo', 'hant' %}
        {% assign lang = 'zh-tw' %}
    {% endcase %}

    {% comment %} Add a new language using when... if needed {% endcomment %}
    {% comment %} If you still encounter language-display issues, check the available locale codes in github-readme-stats (different from ISO-639 standard used in your website) {% endcomment %}
    {% comment %} https://github.com/anuraghazra/github-readme-stats?tab=readme-ov-file#available-locales {% endcomment %}
{% endcase %}

{% if site.data.repositories.repo_description_lines_max %}
  {% assign max_lines = site.data.repositories.repo_description_lines_max %}
{% else %}
  {% assign max_lines = 2 %}
{% endif %}

{% assign metadata = site.data.repo_metadata[include.repository] %}

<div class="repo-card">

  <h4>
    <a href="https://github.com/{{ include.repository }}">
      {{ repo_url[1] }}
    </a>
  </h4>

  {% if metadata.description %}
    <p class="repo-description">
      {{ metadata.description }}
    </p>
  {% endif %}

  <div class="repo-meta">

    {% if show_owner %}
      <span>{{ repo_url[0] }}</span>
    {% endif %}

    {% if metadata.language %}
      <span>{{ metadata.language }}</span>
    {% endif %}

    <span>★ {{ metadata.stars }}</span>

    <span>⑂ {{ metadata.forks }}</span>

  </div>

</div>
