{% assign repo_url = include.repository | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

{% assign metadata = site.data.repo_metadata[include.repository] %}

<div class="repo-card">

  <h4>
    <a href="{{ metadata.html_url }}" class="repo-title-link">
      <img
        src="{{ '/assets/img/repo-16.svg' | relative_url }}"
        alt=""
        class="repo-icon"
      >
      {{ repo_url[1] }}
    </a>
  </h4>

  {% if metadata.description %}
    <p class="repo-description">
      {{ metadata.description }}
    </p>
  {% endif %}

  <div class="repo-meta">

    {% if show_owner %}
      <span>{{ repo_url[0] }}</span>
    {% endif %}

    {% if metadata.language %}
      <span>{{ metadata.language }}</span>
    {% endif %}

    <span>★ {{ metadata.stars }}</span>

    <span>⑂ {{ metadata.forks }}</span>

  </div>

</div>
