<ul class="membership-list">
  {% for m in data[1] %}
    <li>
      <h6 class="title font-weight-bold ml-1 ml-md-4">{{ m.organization }}</h6>
      <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{% if m.position %} — {{ m.position }}{% endif %}</h6>
      {% if m.startDate %}
        <span class="text-muted">
          ({{ m.startDate | date: "%Y" }}{% if m.endDate %}–{{ m.endDate | date: "%Y" }}{% else %}–present{% endif %})
        </span>
      {% endif %}
      <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{% if m.summary %}<br><small>{{ m.summary }}</small>{% endif %}</h6>
    </li>
  {% endfor %}
</ul>
